<html>
  <head>
    <title></title>
    <style>
      body{ direction: rtl; }
    </style>
  </head>
  <body>
    مرحبا
    {{name}}
    <br />
    <br />
    رمز التحقق الخاص بك هو:
    {{otp}}
  </body>
</html>